<h1>List of all actors</h1>

<hr>

<table border = "1">

<tr>
  <th>ID</th>
  <th>Image</th>
  <th>Name</th>
  <th>Dob</th>
  <th></th>
</tr>

<% @actor_table.each do |item| %>
<tr>
  <td><%= item.id %></td>
  <td><img src = "<%= item.image %>"></img></td>
  <td><%= item.name %></td>
  <td><%= item.dob %></td>
  <td><a href = "/actors/<%= item.id %>">Show details<a></td>
</tr>
<% end %>

</table>
